services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
      - frontend_pnpm_store:/root/.local/share/pnpm/store
    container_name: vite-frontend
    command: sh -c "cd deskai-app && pnpm install && pnpm run dev"
    stdin_open: true
    tty: true
    environment:
      - NODE_ENV=development
      - VITE_PORT=5173
    networks:
      - app-network


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
      - backend_pnpm_store:/root/.local/share/pnpm/store
    container_name: express-backend
    command: sh -c "pnpm install && pnpm run dev"
    stdin_open: true
    tty: true
    environment:
      - NODE_ENV=development
      - PORT=3000
    networks:
      - app-network

volumes:
  backend_node_modules:
  backend_pnpm_store:
  frontend_node_modules:
  frontend_pnpm_store:

networks:
  app-network:
    driver: bridge