services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
      - frontend_pnpm_store:/root/.local/share/pnpm/store
    container_name: vite-frontend
    command: sh -c "cd deskai-app && pnpm install && pnpm run dev"
    stdin_open: true
    tty: true
    env_file:
      - .env
    environment:
      NODE_ENV: ${NODE_ENV}
      VITE_PORT: ${VITE_PORT}
      VITE_CLIENT_HEADER_KEY: ${VITE_CLIENT_HEADER_KEY}
    networks:
      - app-network


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
      - backend_pnpm_store:/root/.local/share/pnpm/store
    container_name: express-backend
    command: sh -c "pnpm install && pnpm run dev"
    stdin_open: true
    tty: true
    env_file:
      - .env
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}
      MONGO_URI: ${MONGO_URI}
      SUPER_EMAIL: ${SUPER_EMAIL}
      SUPER_PASS: ${SUPER_PASS}
      JWT_SECRET: ${JWT_SECRET}
      VITE_CLIENT_HEADER_KEY: ${VITE_CLIENT_HEADER_KEY}
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - app-network

  mongo:
    image: mongo:6.0
    container_name: mongo-db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017" # optional for local access
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  backend_node_modules:
  backend_pnpm_store:
  frontend_node_modules:
  frontend_pnpm_store:
  mongo_data:

networks:
  app-network:
    driver: bridge